{% extends "layouts/base.html" %}
{% block title %}Acceso denegado{% endblock %}
{% block menu_register %}
  {% if access == 'guard' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/'><i class="fas fa-home"></i> Home</a></li>
    </ul>
  {% elseif access == 'guard_admin' and type is not null %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/home'><i class="fas fa-home"></i> Home</a></li>
    </ul>
  {% else %}
    {% if type == false and type is not null %}
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-outline-light" href='/home'><i class="fas fa-home"></i> Home</a></li>
      </ul>
    {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-outline-light" href='/'><i class="fas fa-home"></i> Home</a></li>
      </ul>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Acceso denegado</h1>
  <div class="row">
    <div class="col-md-12">
      {% if access == 'guard' %}
        <div class='alert alert-danger text-center' role='alert'>Necesita una cuenta e iniciar sesion para entrar a esta direccion. Por favor ir a la pagina principal para que se registre o inicie sesion.</div>
      {% elseif access == 'guard_admin' %}
        <div class='alert alert-danger text-center' role='alert'>Necesita una cuenta administrador e iniciar sesion para entrar a esta direccion. Por favor ir a la pagina principal para que inicie sesion o solicite su cuenta administrador al encargado.</div>
      {% else %}
        <div class='alert alert-danger text-center' role='alert'>Error: {{ access }}. Lo sentimos pero ha sucedido un error grave o no hemos encontrado la página solicitada.</div>
      {% endif %}
      
    </div>
  </div>
</div>
{% endblock %}