{% extends "layouts/base.html" %}
{% block title %}Registro{% endblock %}

{% block menu_type_user %}
  {% set menu = [] %}
  {% if id is not null and usuario == "f" %}
    {% set menu = {
      '<i class="fas fa-home"></i> Home' : '/',
      '<i class="fas fa-th-list"></i> Catalogo' : '/catalogo',
      '<i class="fas fa-history"></i> Historial' : '/home/historial.php',
    } %}
  {% endif %}
  {% if id is not null and usuario == "t" %}
    {% set admin = {
      '<i class="fas fa-home"></i> Home': '/home/index_admin.php',
      '<i class="fas fa-th-list"></i> Categorias' : '/categorias',
      '<i class="fab fa-product-hunt"></i> Productos': '/productos',
    } %}
    {% set menu = items|merge(admin)%}
  {% endif %}
  {% if id is not null or id is not empty or id is defined %}
    {% for key, value in menu %}
      <li class='nav-item'><a class='nav-link' href='{{value}}'>{{key}}</a></li>"
    {% endfor %}
  {% endif %}
{% endblock %}

{% block menu_logout %}
  {% if id is not null or id is not empty %}
    <ul class="nav navbar-nav navbar-right mr-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{name ?? ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% if id is not null and usuario == "f" %}
          <li><a class="btn btn-outline-light dropdown-item" href='/catalogo/cart.php'>
            <i class="fas fa-shopping-cart"></i> Carrito
          </a></li>
          {% endif %}
          <li><a class="btn btn-outline-light dropdown-item" href='/seguridad/logout.php'>
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a></li>
        </div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  {% endif %}
{% endblock %}

{% block menu_register %}
  {% if CurrentUrl == '/' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/signup'><i class="fas fa-user-plus"></i> Sign Up</a></li>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Registro</h1>
    {% if validacion is defined and validacion is not empty %}
      {{ validacion | raw}}
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <form action="/signin" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="usernameHelp" placeholder="Email" name="email" value="{{ email ?? '' }}">
          </div>
          <div class="form-group">
            <label for="name">Nombre Completo</label>
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Full Name" name="name" value="{{ name ?? '' }}">
          </div>
          <div class="form-group">
            <label for="phone">Telefono</label>
            <input type="number" class="form-control" id="phone" aria-describedby="nameHelp" placeholder="Phone" name="phone" value="{{ phone ?? '' }}">
          </div>
          <div class="form-group">
            <label for="address">Direccion</label>
            <input type="text" class="form-control" id="address" aria-describedby="nameHelp" placeholder="Address" name="address" value="{{ address ?? '' }}">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <label for="password_verification">Re-enter password</label>
            <input type="password" class="form-control" id="password_verification" placeholder="Password" name="password_verification">
          </div>
          <div class="form-group float-right">
            <button class="btn btn-dark" type="submit">Sign In <i class="fas fa-sign-in-alt"></i></button>
            <a class="btn btn-outline-dark" href="/"><i class="fas fa-ban"></i> Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}