{% extends "layouts/base.html" %}
{% block title %}Catalogo{% endblock %}

{% block menu_type_user %}
  {% set menu = {} %}
  {% if type is not null and type == false %}
    {% set menu = {
      '<i class="fas fa-home"></i> Home' : '/home',
      '<i class="fas fa-th-list"></i> Catalogo' : '/catalog',
      '<i class="fas fa-history"></i> Historial' : '/record',
    } %}
  {% endif %}
  {% if type == true %}
    {% set menu = {
      "<i class='fas fa-home'></i> Home": "/home_admin",
      '<i class="fas fa-th-list"></i> Categorias' : '/categories',
      '<i class="fab fa-product-hunt"></i> Productos': '/products',
    } %}
  {% endif %}
  {% if id is not null or id is not empty or id is defined %}
    {% for key, value in menu %}
      <li class='nav-item'><a class='nav-link' href='{{ value }}'> {{ key | raw }}</a></li>"
    {% endfor %}
  {% endif %}
{% endblock %}
{% block menu_logout %}
  {% if id is not null or id is not empty %}
    <ul class="nav navbar-nav navbar-right mr-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{name ?? ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% if type is not null and type == false %}
          <li><a class="btn btn-outline-light dropdown-item" href='/cart'>
            <i class="fas fa-shopping-cart"></i> Carrito
          </a></li>
          {% endif %}
          <li><a class="btn btn-outline-light dropdown-item" href='/logout'>
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a></li>
        </div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  {% endif %}
{% endblock %}

{% block menu_register %}
  {% if CurrentUrl == '/' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/signup'><i class="fas fa-user-plus"></i> Sign Up</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar1">
      <h3 class="text-center" style="color:white;"><i class="fas fa-th-list"></i> Catalogo</h3>      
      <div id="MainMenu">
            <div class="list-group panel">
              <a href="/catalog" class="list-group-item schedule-list" data-parent="#MainMenu">Todo</a>
              {% if categories is defined %}
                {% for categorie in categories %}
                    {% if categorie.name_sub is empty %}
                      <a href='#{{ categorie.name }}' class='list-group-item schedule-list' data-toggle='collapse' data-parent='#MainMenu'>{{ categorie.name }} <i class='fa fa-caret-down'></i></a>
                      <div class='collapsing' id='{{ categorie.name }}'>
                        <a href='/catalog/{{ categorie.name }}/0' class='list-group-item schedule-list device_result'>All</a>
                        {% for cate in categories %}
                            {% if cate.name_sub == categorie.name %}
                              <a href='/catalog/{{ cate.name }}/1' class='list-group-item schedule-list device_result'>{{ cate.name }}</a>
                            {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
            </div>
        </div>
    </div>
    <div id="loadpartial" class="col-md-10" style="margin-left: 16%;">
      <table id="schedule" class="table-condensed table table-hover table-bordered dt-responsive responsive-display">
        <thead class="thead-light">
          <tr class="text-center">
            <th><i class="fas fa-barcode"></i> SKU</th>
            <th><i class="fas fa-user"></i> Nombre</th>
            <th><i class="fas fa-comment-dots"></i> Descripcion</th>
            <th><i class="fas fa-image"></i> Imagen</th>
            <th><i class="fas fa-dollar-sign"></i> Precio</th>
            <th><i class="fas fa-shopping-cart"></i> Carrito</th>
          </tr>
        </thead>
        {% if catalogo is defined %}
          {% for producto in catalogo %}
              {% if producto.stock > 0 %}
                <tr>
                  <td>{{ producto.sku }}</td>
                  <td>{{ producto.name }}</td>
                  <td>{{ producto.description }}</td>
                  {% set img = asset('images/') ~ producto.imagen %}
                  <td class="text-center"><img src="{{ img }}"></td>
                  <td>₡{{ producto.price }}</td>
                  <td><a href='/add_cart/{{ producto['id'] }}/{{ categoria ?? 'null' }}/{{ id_prod ?? 'null' }}' class='btn btn-dark btn-sm mr-1'><i class='fas fa-pen-square'></i> Agregar</a></td>
                </tr>
              {% endif %}
          {% endfor %}
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}