{% extends "layouts/base.html" %}
{% block title %}Historial{% endblock %}

{% block menu_type_user %}
  {% set menu = {} %}
  {% if type is not null and type == false %}
    {% set menu = {
      '<i class="fas fa-home"></i> Home' : '/home',
      '<i class="fas fa-th-list"></i> Catalogo' : '/catalog',
      '<i class="fas fa-history"></i> Historial' : '/record',
    } %}
  {% endif %}
  {% if type == true %}
    {% set menu = {
      "<i class='fas fa-home'></i> Home": "/home_admin",
      '<i class="fas fa-th-list"></i> Categorias' : '/categories',
      '<i class="fab fa-product-hunt"></i> Productos': '/products',
    } %}
  {% endif %}
  {% if id is not null or id is not empty or id is defined %}
    {% for key, value in menu %}
      <li class='nav-item'><a class='nav-link' href='{{ value }}'> {{ key | raw }}</a></li>"
    {% endfor %}
  {% endif %}
{% endblock %}
{% block menu_logout %}
  {% if id is not null or id is not empty %}
    <ul class="nav navbar-nav navbar-right mr-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{name ?? ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% if type is not null and type == false %}
          <li><a class="btn btn-outline-light dropdown-item" href='/cart'>
            <i class="fas fa-shopping-cart"></i> Carrito
          </a></li>
          {% endif %}
          <li><a class="btn btn-outline-light dropdown-item" href='/logout'>
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a></li>
        </div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  {% endif %}
{% endblock %}

{% block menu_register %}
  {% if CurrentUrl == '/' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/signup'><i class="fas fa-user-plus"></i> Sign Up</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block content %}
<h1 class="text-center">Historial</h1>
<div class="container table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Fecha</th>
        <th>Total</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tr>
    {% if checkout is defined and checkout is not empty %}
      {% for orden in checkout %}
        <tr>
          <td>{{ orden['date']|date("d-m-Y") }}</td>
          <td>{{ orden['total'] }}</td>
          <td><a href='/details/{{ orden['id_orden'] }}' class='btn btn-info btn-sm'><i class='fas fa-info-circle'></i> Ver</a></td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan='3' class='text-center'>No tiene historial de compras</td></tr>
    {% endif %}
    </tr>
  </table>
</div>
{% endblock %}