{% extends "layouts/base.html" %}
{% block title %}Editar Categoría{% endblock %}

{% block menu_type_user %}
  {% set menu = {} %}
  {% if type is not null and type == false %}
    {% set menu = {
      '<i class="fas fa-home"></i> Home' : '/home',
      '<i class="fas fa-th-list"></i> Catalogo' : '/catalog',
      '<i class="fas fa-history"></i> Historial' : '/record',
    } %}
  {% endif %}
  {% if type == true %}
    {% set menu = {
      "<i class='fas fa-home'></i> Home": "/home_admin",
      '<i class="fas fa-th-list"></i> Categorias' : '/categories',
      '<i class="fab fa-product-hunt"></i> Productos': '/products',
    } %}
  {% endif %}
  {% if id is not null or id is not empty or id is defined %}
    {% for key, value in menu %}
      <li class='nav-item'><a class='nav-link' href='{{ value }}'> {{ key | raw }}</a></li>"
    {% endfor %}
  {% endif %}
{% endblock %}
{% block menu_logout %}
  {% if id is not null or id is not empty %}
    <ul class="nav navbar-nav navbar-right mr-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{name ?? ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% if type is not null and type == false %}
          <li><a class="btn btn-outline-light dropdown-item" href='/cart'>
            <i class="fas fa-shopping-cart"></i> Carrito
          </a></li>
          {% endif %}
          <li><a class="btn btn-outline-light dropdown-item" href='/logout'>
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a></li>
        </div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  {% endif %}
{% endblock %}

{% block menu_register %}
  {% if CurrentUrl == '/' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/signup'><i class="fas fa-user-plus"></i> Sign Up</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h1>Editar Categoría</h1>
  {% if validacion is defined and validacion is not empty %}
    {{ validacion | raw}}
  {% endif %}
  <form action="/upd_categories" method="POST">
    <input type="hidden" class="form-control" placeholder="ID" name="id" value="{{ find.id }}" readonly>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" placeholder="Name" name="name" value="{{ find.name }}" required>
    </div>
    <div class="form-group">
      <label for="name_sub"><i class="fas fa-grip-horizontal"></i> SubCategoria</label>
      <select class="form-control" name="name_sub" value = "{{ find.name_sub}}">
        {% if categorias is defined %}
          <option></option>
          {% for categoria in categorias %}
            {% if categoria.name == find.name_sub %}
              <option selected>{{ categoria.name }}</option>
            {% else %}
              <option>{{ categoria.name }}</option>
            {% endif %}
          {% endfor %}
        {% endif %} 
      </select>
    </div>
    <button class="btn btn-dark" type="submit"><i class="fas fa-check-circle"></i> Aceptar</button>
    <a class="btn btn-default btn-danger" href="/categories"><i class="fas fa-ban"></i> Cancelar</a>
  </form>
</div>
{% endblock %}