.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

@media screen and (min-width: 768px) {
 
.left-navigation .collapse{
  			display:block;
      }  
}
    
    @media all and (min-width:992px) {
    .list-group {
        line-height: 3px
    }

    a.btn-r {
        margin-top: -2rem
    }

    .left-navigation {
        width: 100%
    }

    .collapse {
        display: block
    }
}

.sidebar1 {
    position: absolute;
    background: #343a40;
    padding: 0;
    min-height: 100%
}

.list {
    color: #fff;
    list-style: none;
    padding-left: 0
}

.list::first-line {
    color: rgba(255,255,255,.5)
}

.list>li,h5 {
    padding: 5px 0 5px 40px
}
/*-------------------=Schedule-------------------*/
.schedule-list {
    background-color: transparent;
    border: none;
    color: #fff!important;
    line-height: 10px!important;
    font-size: 16px;
    font-weight: 300
}

.schedule-list:hover {
    background-color: rgba(255,255,255,.08)!important;
    border-left-style: solid;
    border-left-color: #31aae2;
    font-weight: 500
}

.schedule-list:focus {
    background-color: rgba(255,255,255,.08)!important;
    border-left-style: solid;
    border-left-color: #31aae2
}

.left-navigation>list>li,h1,h2,h3,h4 {
    padding: 5px 0 5px 40px;
    font-weight: 500
}

h5 {
    font-weight: 500
}

a.list-group-item,button.list-group-item {
    text-indent: 2rem
}

@media (max-width:767px) {
    .btn-left-sidebar {
        background-color: rgba(255,255,255,.4)
    }
}
.list>li:hover {
    background-color: rgba(255,255,255,.2);
    border-left: 5px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding-left: 35px
}

img {
    width: 100px;
    height: 100px
}