{% extends "layouts/base.html" %}
{% block title %}Checkout{% endblock %}

{% block menu_type_user %}
  {% set menu = {} %}
  {% if type is not null and type == false %}
    {% set menu = {
      '<i class="fas fa-home"></i> Home' : '/home',
      '<i class="fas fa-th-list"></i> Catalogo' : '/catalog',
      '<i class="fas fa-history"></i> Historial' : '/record',
    } %}
  {% endif %}
  {% if type == true %}
    {% set menu = {
      "<i class='fas fa-home'></i> Home": "/home_admin",
      '<i class="fas fa-th-list"></i> Categorias' : '/categories',
      '<i class="fab fa-product-hunt"></i> Productos': '/products',
    } %}
  {% endif %}
  {% if id is not null or id is not empty or id is defined %}
    {% for key, value in menu %}
      <li class='nav-item'><a class='nav-link' href='{{ value }}'> {{ key | raw }}</a></li>"
    {% endfor %}
  {% endif %}
{% endblock %}
{% block menu_logout %}
  {% if id is not null or id is not empty %}
    <ul class="nav navbar-nav navbar-right mr-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{name ?? ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% if type is not null and type == false %}
          <li><a class="btn btn-outline-light dropdown-item" href='/cart'>
            <i class="fas fa-shopping-cart"></i> Carrito
          </a></li>
          {% endif %}
          <li><a class="btn btn-outline-light dropdown-item" href='/logout'>
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a></li>
        </div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  {% endif %}
{% endblock %}

{% block menu_register %}
  {% if CurrentUrl == '/' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/signup'><i class="fas fa-user-plus"></i> Sign Up</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center">Checkout</h1>
  <div id="loadpartial">
    <form action="/buy" method="POST">
      {% if carrito is defined %}
        {% set num = 0 %}
        {% set total = 0 %}
        {% for producto in carrito %}
          {% set num = num + 1 %}
          <h5>Producto {{ num }}</h5>
          <label>Nombre:</label>
          <label class='form-control'>{{ producto['name'] }}</label>
          <label>Monto:</label>
          <label class='form-control'>₡{{ producto['price'] }}</label>
          {% set total = total + producto['price'] %}
        {% endfor %}
        <h5>Total a pagar:</h5>
        <label class='form-control' name='total'>₡{{ total }}</label>
      {% endif %}
      <div class="float-right">
        <button class="btn btn-dark" type="submit"><i class="fas fa-check"></i> Aceptar</button>
        <a class="btn btn-default btn-danger" href="/cart"><i class="fas fa-ban"></i> Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}