{% extends "layouts/base.html" %}
{% block title %}Carrito{% endblock %}

{% block menu_type_user %}
  {% set menu = {} %}
  {% if type is not null and type == false %}
    {% set menu = {
      '<i class="fas fa-home"></i> Home' : '/home',
      '<i class="fas fa-th-list"></i> Catalogo' : '/catalog',
      '<i class="fas fa-history"></i> Historial' : '/record',
    } %}
  {% endif %}
  {% if type == true %}
    {% set menu = {
      "<i class='fas fa-home'></i> Home": "/home_admin",
      '<i class="fas fa-th-list"></i> Categorias' : '/categories',
      '<i class="fab fa-product-hunt"></i> Productos': '/products',
    } %}
  {% endif %}
  {% if id is not null or id is not empty or id is defined %}
    {% for key, value in menu %}
      <li class='nav-item'><a class='nav-link' href='{{ value }}'> {{ key | raw }}</a></li>"
    {% endfor %}
  {% endif %}
{% endblock %}
{% block menu_logout %}
  {% if id is not null or id is not empty %}
    <ul class="nav navbar-nav navbar-right mr-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{name ?? ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% if type is not null and type == false %}
          <li><a class="btn btn-outline-light dropdown-item" href='/cart'>
            <i class="fas fa-shopping-cart"></i> Carrito
          </a></li>
          {% endif %}
          <li><a class="btn btn-outline-light dropdown-item" href='/logout'>
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a></li>
        </div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  {% endif %}
{% endblock %}

{% block menu_register %}
  {% if CurrentUrl == '/' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/signup'><i class="fas fa-user-plus"></i> Sign Up</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center">Carrito</h1>
  <div id="loadpartial">
    <table id="schedule" class="table-condensed table table-hover table-bordered dt-responsive responsive-display">
      <thead class="thead-light">
        <tr class="text-center">
          <th>SKU</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Imagen</th>
          <th>Precio</th>
          <th>Carrito</th>
        </tr>
      </thead>
      {% if carrito is defined and carrito is not empty %}
        {% for producto in carrito %}
          <tr>
            <td>{{ producto.sku }}</td>
            <td>{{ producto.name }}</td>
            <td>{{ producto.description }}</td>
            {% set img = asset('images/') ~ producto.imagen %}
            <td class="text-center"><img src="{{ img }}"></td>
            <td>₡{{ producto.price }}</td>
            <td><a href='/del_cart/{{ producto['id'] }}' class='btn btn-danger btn-sm mr-1'><i class='fas fa-pen-square'></i> Borrar</a></td>
          </tr>
        {% endfor %}
        </table>
        <a class="btn btn-dark float-right" href="/checkout"><i class="fas fa-clipboard-check"></i> Check Out</a>
      {% else %}
        <tr><td colspan='6' class='text-center'>No ha añadido productos al carrito</td></tr>
        </table>
      {% endif %}
  </div>
</div>
{% endblock %}