{% extends "layouts/base.html" %}
{% block title %}Productos{% endblock %}

{% block menu_type_user %}
  {% set menu = {} %}
  {% if type is not null and type == false %}
    {% set menu = {
      '<i class="fas fa-home"></i> Home' : '/home',
      '<i class="fas fa-th-list"></i> Catalogo' : '/catalog',
      '<i class="fas fa-history"></i> Historial' : '/record',
    } %}
  {% endif %}
  {% if type == true %}
    {% set menu = {
      "<i class='fas fa-home'></i> Home": "/home_admin",
      '<i class="fas fa-th-list"></i> Categorias' : '/categories',
      '<i class="fab fa-product-hunt"></i> Productos': '/products',
    } %}
  {% endif %}
  {% if id is not null or id is not empty or id is defined %}
    {% for key, value in menu %}
      <li class='nav-item'><a class='nav-link' href='{{ value }}'> {{ key | raw }}</a></li>"
    {% endfor %}
  {% endif %}
{% endblock %}
{% block menu_logout %}
  {% if id is not null or id is not empty %}
    <ul class="nav navbar-nav navbar-right mr-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{name ?? ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% if type is not null and type == false %}
          <li><a class="btn btn-outline-light dropdown-item" href='/cart'>
            <i class="fas fa-shopping-cart"></i> Carrito
          </a></li>
          {% endif %}
          <li><a class="btn btn-outline-light dropdown-item" href='/logout'>
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a></li>
        </div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  {% endif %}
{% endblock %}

{% block menu_register %}
  {% if CurrentUrl == '/' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/signup'><i class="fas fa-user-plus"></i> Sign Up</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center">Productos</h1>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>SKU</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Imagen</th>
        <th>Categoria</th>
        <th>Stock</th>
        <th>Precio</th>
        <th class="text-center"><a href="/new_product" class="btn btn-success btn-sm"><i class="fas fa-plus-circle"></i> Nuevo</a></th>
      </tr>
    </thead>
    {% if productos is defined %}
      {% for producto in productos %}
          <tr>
          <td>{{ producto.sku }}</td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.description }}</td>
          {% set img = asset('images/') ~ producto.imagen %}
          <td class="text-center"><img src="{{ img }}"></td>
          <td>{{ producto.categorie }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.price }}</td>
          <td>
            <a href='/upd_products/{{ producto.id }}' class='btn btn-dark btn-sm mr-1'><i class="fas fa-pen-square"></i> Editar</a>
            <a href='/del_products/{{ producto.sku }}' class='btn btn-danger btn-sm'><i class="fas fa-minus-circle"></i> Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
</div>
{% endblock %}