{% extends "layouts/base.html" %}
{% block title %}Editar Producto{% endblock %}

{% block menu_type_user %}
  {% set menu = {} %}
  {% if type is not null and type == false %}
    {% set menu = {
      '<i class="fas fa-home"></i> Home' : '/home',
      '<i class="fas fa-th-list"></i> Catalogo' : '/catalog',
      '<i class="fas fa-history"></i> Historial' : '/record',
    } %}
  {% endif %}
  {% if type == true %}
    {% set menu = {
      "<i class='fas fa-home'></i> Home": "/home_admin",
      '<i class="fas fa-th-list"></i> Categorias' : '/categories',
      '<i class="fab fa-product-hunt"></i> Productos': '/products',
    } %}
  {% endif %}
  {% if id is not null or id is not empty or id is defined %}
    {% for key, value in menu %}
      <li class='nav-item'><a class='nav-link' href='{{ value }}'> {{ key | raw }}</a></li>"
    {% endfor %}
  {% endif %}
{% endblock %}
{% block menu_logout %}
  {% if id is not null or id is not empty %}
    <ul class="nav navbar-nav navbar-right mr-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{name ?? ''}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% if type is not null and type == false %}
          <li><a class="btn btn-outline-light dropdown-item" href='/cart'>
            <i class="fas fa-shopping-cart"></i> Carrito
          </a></li>
          {% endif %}
          <li><a class="btn btn-outline-light dropdown-item" href='/logout'>
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a></li>
        </div>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  {% endif %}
{% endblock %}

{% block menu_register %}
  {% if CurrentUrl == '/' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light" href='/signup'><i class="fas fa-user-plus"></i> Sign Up</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h1>Editar Producto</h1>
  <form action="/upd_products" method="POST">
    <input type="hidden" class="form-control" placeholder="ID" name="id" value="{{ find.id }}" readonly>
    <div class="form-group">
      <label for="sku"><i class="fas fa-barcode"></i> SKU</label>
      <input type="text" class="form-control" placeholder="SKU" name="sku" value="{{ find.sku }}" required>
    </div>
    <div class="form-group">
      <label for="name"><i class="fas fa-user"></i> Nombre</label>
      <input type="text" class="form-control" placeholder="Nombre" name="name" value="{{ find.name }}" required>
    </div>
    <div class="form-group">
      <label for="description"><i class="fas fa-comment-dots"></i> Descripcion</label>
      <input type="text" class="form-control" placeholder="Descripcion" name="description" value="{{ find.description }}" required>
    </div>
    <div class="form-group">
      <label for="imagen"><i class="fas fa-image"></i> Imagen</label>
      <div class="input-group input-file" name="Fichier1">
        <span class="input-group-btn">
              <button class="btn btn-default btn-choose" type="button">Buscar</button>
          </span>
          <input type="text" class="form-control" placeholder='Imagen' name="imagen" value="{{ find.imagen }}" />
          <span class="input-group-btn">
               <button class="btn btn-warning btn-reset" type="button">Limpiar</button>
          </span>
      </div>
    </div>
    <script src="{{ asset('js/imagen.js') }}"></script>
    <div class="form-group">
      <label for="categorie"><i class="fas fa-grip-horizontal"></i> Categoria</label>
      <select class="form-control" name="categorie" value="{{ find.categorie }}" required>
        {% if categorias is defined %}
          <option></option>
          {% for categoria in categorias %}
            {% if categoria.name == find.categorie %}
              <option selected>{{ categoria.name }}</option>
            {% else %}
              <option>{{ categoria.name }}</option>
            {% endif %}
          {% endfor %}
        {% endif %} 
      </select>
    </div>
    <div class="form-group">
      <label for="stock"><i class="fas fa-calculator"></i> Stock</label>
      <input type="number" class="form-control" placeholder="Stock" name="stock" value="{{ find.stock }}" required>
    </div>
    <div class="form-group">
      <label for="price"><i class="fas fa-dollar-sign"></i> Precio</label>
      <input type="number" class="form-control" placeholder="Precio" name="price" value="{{ find.price }}" required>
    </div>
    <div class="float-right">
      <button class="btn btn-dark" type="submit"><i class="fas fa-check"></i> Aceptar</button>
      <a class="btn btn-default btn-danger" href="/products"><i class="fas fa-ban"></i> Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}